{% extends 'base.html' %}
{% block title %}{{ game.GameName }}{% endblock %}
{% block body %}
    <div>
        <h1>{{ game.GameName }}
            {% if userfav.count < 1  %}
            <button class="favori">Favori Ekle</button>
                {% else %}
            <button class="favori">Favori çıkar</button>
            {% endif %}
        </h1>
        <p>oyun ismi: {{ game.GameName }}<br></p>
        <p>oyun çıkış tarihi: {{ detail.ReleaseDate }}<br></p>
        <p>Yaş sınırı: {{ detail.RequiredAge }}<br></p>
        <p>Demo sayısı: {{ detail.DemoCount }}<br></p>
        <p>DLC sayısı: {{ detail.DLCCount }}<br></p>
        <p>Metacritic puanı: {{ detail.Metacritic }}<br></p>
        <p>Tavsiye sayısı: {{ detail.RecommendationCount }}<br></p>
        <p>Hakkında: {{ detail.AboutText }}<br></p>
        <p>Detaylı tanıtım: {{ detail.DetailedDescrip }}<br></p>
        <p>Desteklenen dil sayısı: {{ detail.SupportedLanguages }}<br></p>
    </div>
    <div>
        <h1>Kategori</h1>
        {% for selectgames in selectgame %}
{#            sadece oyunun kategorileri listelenecek #}

            <a>{{ selectgames.verbose_name }}</a><br>
        {% endfor %}


    </div>

    <div class="platform" onloadeddata="kontrol()">

        <h1>Desteklenen platformlar</h1>
        <p id="windows"> Windows: {% if platform.Windows %} Destekleniyor {% else %} Desteklenmiyor{% endif %}</p>
        <p id="linux"> Linux: {% if platform.Linux %} Destekleniyor {% else %} Desteklenmiyor{% endif %}</p>
        <p id="mac"> Mac: {% if platform.Mac %} Destekleniyor {% else %} Desteklenmiyor{% endif %}</p>
        <p id="ps4"> PS4: {% if platform.PS4 %} Destekleniyor {% else %} Desteklenmiyor{% endif %}</p>
        <p id="ps5"> PS5: {% if platform.PS5 %} Destekleniyor {% else %} Desteklenmiyor{% endif %}</p>
        <p id="xbox"> Xbox One: {% if platform.XBOXONE %} Destekleniyor {% else %} Desteklenmiyor{% endif %}</p>

    </div>

    <div>
        <button style="margin-top: 10px">Favorilere ekle</button>
    </div>

    <script>
        var arr1 = ["windows", "linux", "mac", "ps4", "ps5", "xbox"]

        function kontrol() {
            for (i = 0; i <= arr1.length; i++) {
                changeColor(arr1[i])
            }
        }

        function changeColor(id) {
            let x = document.getElementById(id).textContent
            let y = x.search("Destekleniyor")
            if (y > 0)
                document.getElementById(id).style.backgroundColor = "green"


        }

        window.onload = kontrol()
    </script>
{% endblock %}